body {
  margin: 0;
  padding: 0;
  height: 100vh;
}

.endless-head {
  color: #44524a;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 600;
  font-size: 2rem;
}

.welcome-content {
  display: block;
}

.form {
  background-color: rgb(136, 111, 111);
  width: 550px;
}

button {
  background-color: transparent;
  border: 0;
  outline: none;
  transition: all 0.5s ease-in-out;
}

button:hover {
  transform: scale(1.08);
}

#game-content {
  border: 20px solid #44524a;
  border-radius: 30px;
  overflow: hidden;
}

.title img {
  width: 900px;
}

.actions-div {
  position: relative;
}

.actions-div #username-div {
  position: absolute;
  display: none;
}

.game-btns-c button img {
  height: 50px;
}

#option-btns img {
  height: 50px;
}

#next-btn img {
  height: 40px;
}

.leaderboard {
  border: 1px solid #44524a;
  background-color: #44524a;
  border-radius: 20px;
  height: 300px;
  width: 300px;
  display: none;
}

.game-container {
  display: none;
}

.loading-score {
  display: none;
}

.leaderboard h6 {
  color: #fff;
  font-weight: 900;
  font-size: 20px;
}

.leaderboard table {
  width: 100%;
}

.leaderboard table td,
.leaderboard table th {
  color: #fff;
}

.leaderboard #l-back-btn img {
  height: 40px;
}

.leaderboard .data-content {
  max-height: 170px;
  overflow-y: scroll;
  border-bottom: 2px solid #59cb42;
}

.input-text {
  height: 40px;
  outline: none;
  background-color: rgba(255, 255, 255, 0.171);
  border: 2px solid #524944;
  border-radius: 30px;
  color: #136837;
  text-transform: uppercase;
  font-size: 20px;
}

.game-title {
  height: 60px;
}

.game-title .g-title {
  width: 400px;
}

.conte-div {
  width: 500px;
  height: 350px;
  margin-bottom: 30px;
}
